#cloud-config
users:
  - name: {{ guest_user }}
    ssh_authorized_keys:
      - {{ guest_pubkey }}
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    groups: sudo
    shell: /bin/bash
    lock_passwd: false
    passwd: {{ guest_pass }}
